body {
  font-family: "Times New Roman", Times, serif;
  background-color: #000;
  color: #fff;
  margin: 40px;
  line-height: 1.6;
}

h1.main-heading {
  color: red;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  font-size: 2.5em;
}

.about-heading {
  text-align: center;
  text-decoration: underline;
  font-size: 1.8em;
  color: #00aaff;
  margin-top: 5px;
}

.goals-heading {
  text-align: center;
  text-decoration: underline;
  font-size: 1.8em;
  color: green;
  margin-top: 30px;
}

.foods-heading {
  text-align: center;
  text-decoration: underline;
  font-size: 1.8em;
  color: orange;
  margin-top: 30px;
}

.section-content {
  text-align: center;
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 20px;
}

ol, ul {
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

time {
  font-style: italic;
  color: #aaa;
}

p {
  font-size: 1em;
  margin-bottom: 15px;

}
.about-paragraph {
  text-align: left;
  text-indent: 30px;
  font-size: 1.1em;
  line-height: 1.6;
  color: #fff;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;

}
.profile-pic {
  float: left;
  height: 200px;
  margin: 0 20px 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px #00aaff;

}
.main-heading {
  margin-bottom: 5px;
}